<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="en-us" http-equiv="Content-Language" />
        <meta content="Brian Martin - rob0t.com" name="description" />
        <title>brian martin &mdash; {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        {% include analytics.html %}
    </head>
    <body>
        <div class="container">
            <div class="nav">
              <h2 id="title">
                <a href="/resume.pdf" title="about">brian martin</a>
                writes <a href="/gitweb" title="code">code</a>.
              </h2>
            </div>
            <div class="blog">
                {{ content }}
            </div>
        </div>
    </body>
</html>
